<div class="login-container" (keyup.enter)="submit()">
    <div [@vendorAnimation]="fading" style="display:none">
      <div id="login" class="container">
        <div class="row">
          <div class="col seek-commu px-0">
            <div class="lb-top1">
              <span class="lb1">nimletech</span><br />
              <span class="lb2">#demo</span>
            </div>
          </div>
        </div>

        <div class="row"><div class="col lbl-login px-0">Sign In</div></div>

        <form>
            <div class="row row-btn margin-top-20">
              <div class="col px-0">
                <input
                  class="login-i"
                  matInput
                  placeholder="Username or email"
                  [formControl]="username"
                  [(ngModel)]="login.username"
                  (ngModelChange)="onChangedUserName($event)"
                  required
                />
                <i
                  *ngIf="username.valid"
                  class="fa fa-check-circle  fa-2x"
                  aria-hidden="true"
                ></i>

                <!--
                  <mat-error *ngIf="username.invalid"> username is required </mat-error>
                -->
              </div>
            </div>


            <div class="row row-btn">
              <div class="col px-0">
                <input
                  class="login-i"
                  matInput
                  type="password"
                  placeholder="password"
                  type="password"
                  [formControl]="password"
                  [(ngModel)]="login.password"
                  (ngModelChange)="onChangedPass($event)"
                  required
                />
                <i
                  *ngIf="password.valid"
                  class="fa fa-check-circle  fa-2x"
                  aria-hidden="true"
                ></i>
                <!--
                  <mat-error *ngIf="password.invalid">password is required</mat-error>
                -->
              </div>
            </div>

            <div class="row">
              <div class="col lbl-forgot-regis mb-5 px-0">
                <span class=""><a href="JavaScript:void(0)" (click)="reset()">Forgot Password?</a></span>
                <span class="regis-right">Not a member? <a href="JavaScript:void(0)" (click)="onRegister()">Register</a></span>
              </div>

              <div *ngIf="message != null" class="col-12 error">{{ message }}</div>

              <div class="col-12 my-1 px-0">
                <button style="width : 100%" mat-raised-button class="loginbtn" (click)="submit()" [disabled]="!loginForm.valid">
                  Sign In
                </button>
              </div>
            </div>

      </form>
      </div>
    </div>
  </div>