<div class="dropdown profile">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">View Profile</a>
    <a class="dropdown-item" href="#">Setting</a>
    <a class="dropdown-item" href="#">Logout</a>
  </div>
</div>
<h1 style="text-align: center;">{{title}}</h1>
<router-outlet></router-outlet>
